<%= render "header" %>

<div class="flex flex-row flex-wrap">
  <% @recipes.each do |recipe| %>
      <div style="flex-basis: 33%" class="p-12 flex-initial">
        <a href="<%= recipe_path(recipe.id) %>">
          <img class="rounded-lg shadow" src="<%= recipe.photo_url %>" />
          <p class="my-2 text-lg"><%= recipe.title %></p>
        </a>
      </div>
  <% end %>
</div>
