<%= render "header" %>

<h2 class="text-3xl mt-20 mb-4 text-center"><%= @recipe.title %></h1>

<p class="mt-12 text-lg text-justify"><%= @recipe.description %></p>

<div class="relative">
  <img class="rounded-lg mt-12 shadow" style="width: 100%;" src="<%= @recipe.photo_url %>" />

  <% if @recipe.chef_name %>
    <p style="background-color: rgba(255, 255, 255, 0.9); color: black;" class="absolute top-4 left-4 pt-1 pb-1 pl-4 pr-4 rounded-full">Designed with ❤️ by chef <%= @recipe.chef_name %></p>
  <% end %>  

  <ul class="absolute top-4 right-4 whitespace-nowrap">
    <% @recipe.tag_names.each do |tag_name| %>
      <li style="background-color: rgba(0, 0, 0, 0.5); color: white;" class="inline pt-1 pb-1 pl-4 pr-4 mr-0.5 mt-0.5 rounded-full"><%= tag_name %></li>
    <% end %>
  </ul>
</div>
